*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 100%;
    padding: 0 8rem;
}
.flexable{
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
#Large .all{
    padding: 1.5rem 8rem;
    background-color: #212529;
}
#Large .left{
    width: 50%;
}
#Large .right{
    width: 50%;
}
#Large .left p{
    font-size: 24px;
    color: #fff;
}
#Large .right li a{
    color: #6c757d;
    transition: 0.5s;
}
#Large .right li i{
    margin-left: 5px;
    color: #6c757d;
    transition: 0.5s;
}
#Large .right li:hover a{
    color: #fff;
    opacity: 0.8;
}
#Large .right li:hover i{
    color: #fff;
    opacity: 0.8;
}
#Mobile{
    display: none;
}
#Main{
    padding: 5rem 0;
    background-color: #212529;
}
#Main .left h1{
    color: #fff;
    font-size:48px;
    margin-bottom: 15px;
}
#Main .left{
    width: 50%;
}
#Main .left p{
    font-size: 18px;
    color: #6c757d;
    margin-bottom: 30px;
}
#Main .right{
    width: 40%;
}
#Main .right img{
    width: 100%;
    border-radius:5px ;
    height: 250px;
}
#Main .left button{
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-right: 25px;
    transition: 0.3s;
}
#Main .left button a{
    color: #fff;
    font-size: 18px;
}
#Main .left .left-btn{
    background-color: #0D6EFD;
    border: 1px solid #0D6EFD;
}
#Main .left .left-btn:hover{
    background-color: #0d6dfdd7;
}
#Main .left .left-btn:hover a{
    color: #fff;
}
#Main .left .right-btn{
    background-color:#212529;
    border: 1px solid #fff;
}
#Main .left .right-btn:hover{
    background-color: #fff;
}
#Main .left .right-btn:hover a{
    color: #212529;
}
#Second{
    padding: 5rem 0;
}
#Second .right .box{
    width: 50%;
    margin-bottom: 40px;   
}
#Second .left{
    width: 30%;
}
#Second .right .box i{
    background-color: #0D6EFD;
    padding: 0.5rem;
    color: #fff;
    font-size: 22px;
    border: 1px solid #0D6EFD;
    border-radius: 5px;
    margin-bottom: 10px;
}
#Second .right .box h5{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
#Second .right{
    flex-wrap: wrap;
    width: 65%;
}
#Second .left h2{
    font-size: calc(1.325rem + 0.9vw);
}
#Third{
    padding: 5rem 0;
    background: #F8F9FA;
    text-align: center;
}
#Third p{
    font-size:calc(1.275rem + 0.3vw);
    width: 50%;
    margin: 15px auto;
}
#Third .signature{
    justify-content: center;
}
#Third .signature img{
    border-radius: 50%;
    margin-right: 10px;
}
#Blog{
    padding: 5rem 0;
}
#Blog .head{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
#Blog .head p{
    font-size: 1.25rem;
    color: #6c757d;
    font-weight: 400;
}
#Blog .head h1{
    font-size: calc(1.325rem + 0.9vw);
    font-weight: 500;
}
#Blog .all-box .box{
    width: 28%;
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#Blog .all-box .box:hover{
    cursor: pointer;
}
#Blog .all-box .box .text {
    padding: 1.5rem;
}
#Blog .all-box .box .text p{
    display: inline;
    background-color: #0D6EFD;
    color: #fff;
    border-radius: 10px;
    padding: 1px 2px;
    font-size: 12px;
}
#Blog .all-box .box .text h3{
    margin:10px 0 20px 0;
}
#Blog .all-box .box .img img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#Blog .signature{
    margin-top: 70px;
    justify-content: flex-start;
}
#Blog .signature .image{
    margin-right: 10px;
}
#Blog .signature .image img{
    border-radius: 100%;
}
#Search{
    padding: 5rem 0;
}
#Search .all{
    padding:3rem 2rem;
    background-color: #1573FD;
    border-radius: 5px;
}
#Search .all .right input{
    display: block;
    padding: 10px 50px 10px 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    margin-bottom: 5px;
}
#Search .all .left{
    width: 60%;
}
#Search .all .left p{ 
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}
#Search .all .right{
    width: 40%;
}
#Search .all .right span{
    color: #fff;
}
footer{
    padding: 2rem 0;
    background-color: #212529;
    color: #fff;
}
footer a{
    text-decoration: underline;
    color: #fff;
    margin-right: 10px;
}
@media (max-width:576px){
    .container{
        padding: 1rem 3rem;
    }
    #Large{
        display: none;
    }
    #Mobile{
        display: block;
    }
    #Mobile .left p{
        font-size: 24px;
        color: #fff;
    }
    #Mobile .all{
        padding: 1rem 3rem;
        background-color: #212529;
    }
    #Mobile .all .right i{
        border: 1px solid #6c757d;
        padding: 0.5rem 1rem;
        font-size: 18px;
        color: #6c757d;
        border-radius: 5px;
    }
    #Main .container{
        text-align: center;
    }
    #Main .left{
        width: 100%;
    }
    #Main .left button{
        width: 100%;
        margin-bottom: 15px;
    }
    #Main .left h1{
       font-size:calc(1.375rem + 1.5vw);
    }
    #Main .left p{
        font-size: 20px;
    }
    #Main .right{
        display: none;
    }
    #Second .all{
        display: block;
    }
    #Second .left{
        width: 100%;
        margin-bottom: 20px;
    }
    #Second .right .box{
        width: 100%;
    }
    #Third p{
        font-size:calc(1.275rem + 0.3vw);
        width: 100%;
    }
    #Blog .all-box{
        flex-wrap: wrap;
    }
    #Blog .all-box .box{
        width: 100%;
    }
    #Blog .head{
        text-align: center;
        width: 100%;
    }
    #Search .all{
        flex-wrap: wrap;
        text-align: center;
    }
    #Search .all .left{
        width: 100%;
    }
    #Search .all .right{
        width: 100%;
    }
    footer .all{
        flex-wrap: wrap;
        justify-content: center;
    }
}
